/* mobile first styling */
h1 {
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 53.469px);
    width: 100vw;
    margin: auto;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 75%;
    margin: auto;
    padding: 1.5rem 1rem;
    background-color: #fff;
}

list-card {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}