<div class="container">
    <div class="list-card-container" *ngFor="let listCardTitle of listCardTitles">
        <h2 class="list-card-title h2">{{ listCardTitle.title }}</h2>
        <ul class="list">
            <!-- need an if
                if the title is today, display each item in todays list
                if the title is tomorrow, display each title in tomrrows list
                if the title is later, display each title in later list -->
            <li class="list-item"></li>
        </ul>
    </div>
</div>